
div {
    color: white;
    background-color: black;
  }
  
  p {
    color: white;
    
  }

  *{
    background-color: black;
    color: white;
  }
  button {
    background-color:white
  }
  #idk {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
  }
